<% layout("/layouts/headerFooter.ejs") %>


    <div class="page1" id="all-services">
        <h1>Best <span class="h1last">Maintenance Company </span>in Dubai</h1>
        <h2>Our Speciality</h2>
        <div class="container-main">

            <div class="container_image" style="animation-delay: -26.25s;">
                <img src="image/door.png">
                <h3 class="img-title">Door</h3>
            </div>
            <div class="container_image" style="animation-delay: -22.5s;">
                <img src="image/shift.jpeg">
                <h3 class="img-title">Shifting</h3>
            </div>
            <div class="container_image" style="animation-delay: -18.75s;">
                <img src="image/ac.jpeg">
                <h3 class="img-title">Indoor</h3>
            </div>
            <div class="container_image" style="animation-delay: -15s;">
                <img src="image/kitchen.jpeg">
                <h3 class="img-title">kitchen</h3>
            </div>
            <div class="container_image" style="animation-delay: -11.25s;">
                <img src="image/outdoor.jpeg">
                <h3 class="img-title">Outdoor</h3>
            </div>
            <div class="container_image" style="animation-delay: -7.5s;">
                <img src="image/paint.jpeg">
                <h3 class="img-title">Paints</h3>
            </div>
            <div class="container_image" style="animation-delay: -3.75s;">
                <img src="image/tiles.jpeg">
                <h3 class="img-title">Tiles</h3>
            </div>
            <div class="container_image" style="animation-delay: -0s;">
                <img src="image/gypsum.jpeg">
                <h3 class="img-title">Gypsum</h3>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="p2h1div">
            <h1>Why Choose Us ?</h1>
        </div>
        <section class="first">
            <div class="box box1">
                <img src="icon/24-7.png">
                <h3>24/7 Availability</h3>
                <p> We provide round-the-clock services, so you can count on us to be there whenever you need us,
                    day or night.</p>

            </div>
            <div class="box box2">
                <img src="icon/money.png">
                <h3>Affordable Pricing</h3>
                <p>Our competitive pricing structure ensures you receive top-quality services without breaking the
                    bank.</p>

            </div>
            <div class="box box3">
                <img src="icon/teamwork.png">
                <h3>Experienced and Skilled</h3>
                <p>Our team comprises experts in various aspects of maintenance.</p>

            </div>
            <div class="box box4">
                <img src="icon/reputation.png">
                <h3>Customer Satisfaction</h3>
                <p id="kitchen"> We prioritize customer satisfaction, as shown by our positive reviews and repeat clients.</p>

            </div>
        </section>
        <section class="second">
            <div class="div_box">
                <div id="grid_img">
                    <img src="sectionimage/image1.png" class="img_g">
                </div>
                <div class="content-desc">
                    <h1> Kitchen</h1>
                    <h2>Comprehensive Kitchen Maintenance Services</h2>
                    <P>Our expert team ensures your kitchen remains in top-notch condition with our comprehensive
                        maintenance services. From regular deep cleaning to equipment checks and repairs, we keep
                        your kitchen running smoothly and efficiently, minimizing downtime and ensuring a hygienic
                        environment.</P>
                    <h2>Customized New Kitchen Design and Installation</h2>
                    <p>Transform your culinary space with our bespoke kitchen design and installation services.
                        Whether you're looking to upgrade your current setup or create a brand-new kitchen, our
                        skilled professionals will work closely with you to bring your vision to life, ensuring a
                        seamless and stylish result tailored to your needs.
                    </p>
                    <div id="door"></div>
                </div>
            </div>
        </section>
        <section class="second">
            <div class="div_box">
                <div class="content-desc">
                    <h1> Door</h1>
                    <h2>Reliable Door Maintenance Services</h2>
                    <P>Ensure the longevity and functionality of your doors with our reliable maintenance services.
                        Our team handles everything from routine inspections and lubrication to minor repairs and
                        adjustments, guaranteeing smooth operation and enhanced security for your premises.</P>
                    <h2>Expert New Door Design and Installation</h2>
                    <p>Upgrade your entryways with our expert door design and installation services. Whether you're
                        looking to replace a single door or overhaul multiple entrances, we offer customized
                        solutions that combine style, durability, and security to perfectly match your requirements.
                    </p>
                    <div id="indoor"></div>
                </div>
                <div id="grid_img">
                    <img src="sectionimage/image2.png" class="img_2">
                </div>
            </div>
        </section>
        <section class="second">
            <div class="div_box">
                <div id="grid_img">
                    <img src="sectionimage/image3.png" class="img_2">
                </div>
                <div class="content-desc">
                    <h1> Indoor Work</h1>
                    <h2>Reliable Door Maintenance Services</h2>
                    <P>Keep your interiors in pristine condition with our comprehensive indoor maintenance services.
                        Our skilled team handles everything from minor repairs and touch-ups to extensive
                        renovations, ensuring every aspect of your indoor space is well-maintained and functioning
                        optimally.</P>
                    <h2>Customized New Indoor Design and Installation</h2>
                    <p>Transform your indoor spaces with our customized design and installation services. Whether
                        you’re looking to refurbish a single room or renovate your entire property, our
                        professionals work closely with you to create stylish and functional interiors tailored to
                        your specific needs.
                    </p>
                    <div id="outdoor"></div>
                </div>

            </div>
        </section>
        <section class="second">
            <div class="div_box">
                <div class="content-desc">
                    <h1> Outdoor Work</h1>
                    <h2>Comprehensive Outdoor Maintenance Services</h2>
                    <P>Maintain the beauty and functionality of your outdoor spaces with our comprehensive
                        maintenance services. Our experienced team handles everything from routine landscaping and
                        garden care to structural repairs and exterior cleaning, ensuring your outdoor areas remain
                        in excellent condition year-round.</P>
                    <h2>Expert Outdoor Design and Installation</h2>
                    <p>Enhance your outdoor spaces with our expert design and installation services. Whether you're
                        looking to create a new garden, install outdoor lighting, or build a patio, we offer
                        customized solutions that blend aesthetics with durability, tailored to your unique vision
                        and needs.
                    </p>
                </div>
                <div id="grid_img">
                    <img src="sectionimage/image4.png" class="img_2">
                </div>
            </div>
        </section>
    </div>